<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/browse">Browse</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/playlists">Playlists</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {{{body}}}
    </main>
    
    <footer>
        <p>&copy; {{currentYear}} Music Streaming Website. All rights reserved.</p>
    </footer>
    
    <script src="/js/main.js"></script>
</body>
</html>